
body {width: 600px; height: 400px; padding-top: 15px;}

#story_writer_id, #story_editor_id, #story_producer_id { width:170px }

#story_start_time_1i, #story_start_time_2i, #story_start_time_3i, #story_start_time_4i, #story_start_time_5i { width: 100px;}

#story_nickname {width:290px}

#story_theme_id, #story_format_id {width: 264px}

#story_notes {width: 555px; height: 50px;}

input.btn.btn-default.btn-lg {width: 567px;}