// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .calendar td { height: 100px; width: 14.28%; }



$red: #FF0000;
$orange: #FF6600;
$yellow: #FFDD00;
$green: #00DD33;
$blue: #0088EE;
$purple: #993388;
$black: #000;
$white: #FFF;
$dark-gray: #666;
$alpha: 0.5;

$pink: #FF0077;


#calendar a {color: $black}

#calendar a:hover {color: $red; background-color: transparent;}

.datetime { display: block; color: $dark-gray; float: left; padding-right: 4px;}
.status { font-size: 10px; line-height: 18px; }

.unassigned {background-color: rgba($blue, $alpha)}
.assigned {background-color: rgba($purple, $alpha)}
.filed {background-color: rgba($red, $alpha)}
.edited {background-color: rgba($orange, $alpha)}
.produced {background-color: rgba($yellow, $alpha)}
.scheduled {background-color: rgba($green, $alpha)}
.published {background-color: rgba($dark-gray, $alpha); text-decoration:line-through; }

.calendar-item {
  min-height: 20px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 4px;
}

.calendar-item h5 {margin: 0}
.calendar-item p {margin: 0 0 0px}




